# Import, paramètres et connection

In [ ]:
#########
# Installation des librairies
#########

! pip install duckdb jupysql duckdb-engine pandas openpyxl dbt-duckdb jupysql_plugin --quiet

In [ ]:
##########
# Import des librairies nécessaires aux traitements
#########

import requests
import json
from datetime import datetime
from datetime import timedelta
import numpy as np
import pandas as pd
import pytz
import sqlalchemy as db
import duckdb
import pyarrow.parquet as pq
import glob
import duckdb_engine
import jupysql_plugin
import openpyxl
from sqlalchemy import create_engine

Mounted at /content/drive

In [ ]:
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# initiate the MotherDuck connection through a service token through

md_token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uIjoianAuaHlnZ3lpbi5mciIsImVtYWlsIjoianBAaHlnZ3lpbi5mciIsInVzZXJJZCI6ImI3ZjBlYmVhLWFiMWQtNDFjOC04MjQwLTBmZDBlY2M4MDU5MiIsImlhdCI6MTcwMTE5MjIwOCwiZXhwIjoxNzMyNzQ5ODA4fQ.kiIUyDkPkohdDxse2Bkmp3tpDTW62BU_YVpIrB3dYyw'
db_local = f"duckdb://"
#%sql postgresql://postgres:%Montaigne65%@data.hyggyin.fr:5433/teladoc
#sante_db = create_engine(f"postgresql://{user}:{password}@{base}")

conmd = duckdb.connect('md:teladoc?motherduck_token='+md_token)

#%sql postgresql://postgres:%Montaigne65%@data.hyggyin.fr:5433/teladoc

# Phase 1 - Extraction

In [ ]:
########
# Phase Extractions et chargement des données
#########


##############
# 1.0 Récupérer le token
##############

res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/session',
                    headers = {"Content-Type": "application/json"},
                    json =  {"username": "jp.pierme@teladochealth.com",
                             "password": "5RMOgq0arTt7"}
                   )
assert res.ok == True
token = res.json()['id']


##############
# 2.0 Lancer les requêtes JSON dans Metabase
##############

# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1103/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_new_tempsmed = pd.DataFrame.from_dict(data, orient='columns')

# Deuxième requête : Recherche de l'asset prise en charge
# Prise en charge
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1276/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_new_pec = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_new_pec;

create table src_new_pec
as
select * from 'df_new_pec';

-- insertion des données dans la base actuelle

with db_insert as (
SELECT
  sda."Id de consultation"
  from src_new_pec sda
  left join src_back_pec sdb
  ON sda."Id de consultation" = sdb."Id de consultation"
  where sdb."Id de consultation" is null
)
insert into src_back_pec select * from src_new_pec where "Id de consultation" in (select * from db_insert);

-- update des données dans la base actuelle
with db_update as (
  select
    sda."Id de consultation" as id_new,
  from src_new_pec sda
  join src_back_pec sdb
  ON (sda."Id de consultation" = sdb."Id de consultation")
  where sda."Id de consultation" is not null and sdb."Id de consultation" is not null
)
UPDATE src_back_pec sda
    SET "Datelastmessage" = sdn."Datelastmessage",
	  "Datelastupdate" = sdn."Datelastupdate",
	  "Dateappointment" = sdn."Dateappointment",
	  "Refconsultationreason" = sdn."Refconsultationreason",
	  "User Product Row Num" = sdn."User Product Row Num",
	  "Codedialoguerootstatus" = sdn."Codedialoguerootstatus",
	  "Refpatientfile" = sdn."Refpatientfile"
    FROM src_new_pec sdn
    WHERE sda."Id de consultation" = sdn."Id de consultation" and sda."Id de consultation" in (select * from db_update)

   Count
0  11364

In [ ]:
# Troisième requête : Recherche de l'asset dialogue
# Activité de chaque interaction avec le système

res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1273/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_new_dialogue = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_new_dialogue;

create table src_new_dialogue
as
select * from 'df_new_dialogue';

-- insertion des données dans la base actuelle

with db_insert as (
SELECT
  sda."Iddialogue"
  from src_new_dialogue sda
  left join src_back_dialogue sdb
  ON sda."Iddialogue" = sdb."Iddialogue"
  where sdb."Iddialogue" is null
)
insert into src_back_dialogue select * from src_new_dialogue where "Iddialogue" in (select * from db_insert);

-- update des données dans la base actuelle
with db_update as (
  select
    sda."Iddialogue" as id_new,
  from src_new_dialogue sda
  join src_back_dialogue sdb
  ON (sda."Iddialogue" = sdb."Iddialogue")
  where sda."Iddialogue" is not null and sdb."Iddialogue" is not null
)
UPDATE src_back_dialogue sda
    SET "Timespent" = sdn."Timespent"
    FROM src_new_dialogue sdn
    WHERE sda."Iddialogue" = sdn."Iddialogue" and sda."Iddialogue" in (select * from db_update)

In [ ]:
# Quatrième requête pour les données qualités
# Question metabase Notes d'écoutes et clarté par TLC avec les informations du médecin et du motif de consultation

res2 = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1287/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data2 = res2.json()
df_new_qualite = pd.DataFrame.from_dict(data2, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_new_qualite;

create table src_new_qualite
as
select * from 'df_new_qualite';

-- insertion des données dans la base actuelle

with db_insert as (
SELECT
  sda."ID"
  from src_new_qualite sda
  left join src_back_qualite sdb
  ON sda."ID" = sdb."ID"
  where sdb."ID" is null
)
insert into src_back_qualite select * from src_new_qualite where "ID" in (select * from db_insert);

In [ ]:
#  requête : Recherche de l'asset produit
#
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1275/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_produit = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_produit;

create table src_back_produit
as
select * from 'df_back_produit';

In [ ]:
# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1277/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_ps = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_ps;

create table src_back_ps
as
select * from 'df_back_ps';

In [ ]:
# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1274/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_service = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_service;

create table src_back_service
as
select * from 'df_back_service';

In [ ]:
# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1279/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_facturation = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_facturation;

create table src_back_facturation
as
select * from 'df_back_facturation';

In [ ]:
# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1280/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_qualification = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_qualification;

create table src_back_qualification
as
select * from 'df_back_qualification';

In [ ]:

# Première requête : Recherche de l'asset temps médical par médecin et par plage
# Activité des médecins heures par heures
res = requests.post('http://metabase-md.eu-west-3.elasticbeanstalk.com./api/card/1281/query/json',
            headers = {'Content-Type': 'application/json',
                    'X-Metabase-Session': token
                    }
        )

data = res.json()

df_back_motif = pd.DataFrame.from_dict(data, orient='columns')

In [ ]:
%%sql conmd
DROP TABLE IF EXISTS src_back_motif;

create table src_back_motif
as
select * from 'df_back_motif';

In [ ]:
%%sql conmd

drop table if exists stg01_dialogue

In [ ]:
%%sql conmd

--
-- stg01_teladoc_dialogue
--


create table stg01_dialogue as
with service as (
  select
    "Id de spécialité" as "id_service",
    "Code" as "lib_service",
    "Label" as "lib_servicelong"
  from src_back_service),
ps as (
  select
    *
  from src_back_ps
)
select
  *,
  rank () OVER(
    partition by "Refdialogueroot"
  order by "Date de création"
  ) as rang,
  strptime(strftime("Date de création" :: timestamp,'YYYY/MM/DD/HH24:MI:ss'),'YYYY/MM/DD/HH24:MI:ss') as datetime_debut
from src_back_dialogue a
left join service
on a."Refspecialty" = service.id_service
left join ps
on a."Refuser" = ps."Iduser"

In [ ]:
%%sql conmd
-----------------
-- Stg01_Dialogue
-----------------


DROP TABLE IF EXISTS stg02_dialogue cascade

In [ ]:
%%sql conmd

--
-- stg02_teladoc_dialogue
--

--
-- Créer la nouvelle table stg02
--
create table stg02_dialogue as
with qualification as (
  select
    "ID" as "id_qualification",
    "Label" as "lib_qualification"
  from src_back_qualification
)
select
  "Iddialogue" as "id_dialogue",
  "Source" as "source",
  "Refdialogueroot" as "id_pec",
  "Date de création" as "date_creation",
  "Timespent" as "temps_declare",
  "Codedialogueaction" as "lib_typedialogue",
  "Codedialoguetype" as "lib_canal",
  "lib_service" as "lib_service",
  "lib_servicelong" as "lib_servicelong",
  "Prénom" as "ps_prenom",
  "Iduser" as "id_ps",
  "Nom de famille" as "ps_nom",
  "Ordinalqualificationid" as "id_qualification",
  "rang" as rang,
  "datetime_debut" as datetime_debut,
  "datetime_debut" + "Timespent" * INTERVAL '1 Minutes' as datetime_fin
  --qualification."Label" as "lib_qualification"
from stg01_dialogue a
left join qualification
on a."Ordinalqualificationid" = qualification."id_qualification";

In [ ]:
%%sql conmd

DROP TABLE IF EXISTS stg03_dialogue_plage cascade

In [ ]:
%%sql conmd

--
-- stg03_teladoc_dialogue
--

create table stg03_dialogue_plage as
with dialogue as (
select
*,
concat(lib_service,'_',lib_canal,'_',cast(id_qualification as text)) as id_salle,
strftime(date_creation :: timestamp,'YYYY/MM/DD/HH24:MI:ss') as datedebut,
strftime(date_creation :: timestamp , 'YYYY') as annee,
strftime(date_creation :: timestamp , 'MM') as mois,
strftime(date_creation :: timestamp , 'DD') as jour,
strftime(date_creation :: timestamp , 'HH24') as heure_debut,
strftime(date_creation :: timestamp , 'dy') as jour_semaine,
strftime(date_creation :: timestamp , 'IDDD') as jour_ISO,
strftime(date_creation :: timestamp , 'IW') as semaine_ISO,
concat(lib_service,'_',lib_canal,'_',cast(id_qualification as text),'_',strftime(date_creation :: timestamp , 'YYYYMMDDHH24')) as id_plage,
min (datetime_debut) over (partition by id_pec) as debut_pec,
max (datetime_fin) over (partition by id_pec) as fin_pec
from stg02_dialogue a
where id_ps is not null
),
salle as (
select
id_salle_complet,
lib_salle
from dim_salle
)
select
*
from dialogue a
left join salle
on a.id_salle = salle.id_salle_complet;

In [ ]:
%%sql conmd


DROP TABLE IF EXISTS dma_dialogue cascade

In [ ]:
%%sql conmd


---------------
-- dma_dialogue
--------------

create table dma_dialogue as
select * from stg03_dialogue_plage

In [ ]:
%%sql conmd


DROP TABLE IF EXISTS "stg01_delai" cascade

In [ ]:
%%sql conmd


---------------
-- stg01_delai
--------------

create table stg01_delai as
with delai as(
select
id_pec,
rang,
min(datetime_debut) OVER (PARTITION BY id_pec) as datetime_openpec,
max(datetime_fin) OVER (PARTITION BY id_pec) as datetime_endpec,
EXTRACT(EPOCH FROM (max(datetime_fin) OVER (PARTITION BY id_pec) - min(datetime_debut) OVER (PARTITION BY id_pec) ))/60 as duree_mn
from stg02_dialogue
order by 1)
select * from delai where rang = 1

In [ ]:
%%sql conmd


DROP TABLE IF EXISTS "dma_acte" cascade

In [ ]:
%%sql conmd


-------------
-- dma_acte
-----------

create table dma_acte as
with acte_dialogue as (
    select
        *,
        strftime(date_creation::date, 'YYYY/MM/DD') as date_jour,
        rank()
            over acte -- (partition by id_pec, lib_salle)
        as rang_acte,
        sum(temps_declare) over acte as temps_acte,
        min(datetime_debut) over acte as debut_acte,
        max(datetime_fin) over acte as fin_acte,
        extract(
            epoch from (
                max(datetime_fin) over acte - min(datetime_debut) over acte
            )
        )
        / 60 as delai_mn_acte,
        extract(
            epoch from (
                max(datetime_fin) over acte - min(datetime_debut) over acte
            )
        )
        / 60 as delai_mn_pec,
		extract(
            epoch from (
                min(datetime_debut) over acte - debut_pec
            )
        )
        / 60 as delaidebutacte_mn,
        concat(id_pec, '_', lib_salle) as id_acte
    from dma_dialogue
    window acte as (
        partition by id_pec, lib_salle
    )
)
select *
from acte_dialogue
where rang_acte = 1;

In [ ]:
%%sql conmd


DROP TABLE IF EXISTS "dma_plages" cascade

In [ ]:
%%sql conmd

create table dma_plages as
with plage as (
select
    	concat(id_plage,'_',id_ps) as id_plage_ps,
        id_ps,
    	concat(ps_prenom,'-',ps_nom) as ps_prenomnom,
        lib_salle as lib_salle,
        id_plage as id_plage,
        datetime_debut::date,
        heure_debut,
        jour_semaine,
        concat(lib_salle,'_',datetime_debut :: date,'_',heure_debut :: text,'00') as plage_maquette_med,
        count(distinct id_pec) as tlc_entraitement,
        sum(temps_declare) as temps_total,
        case
        	WHEN sum(temps_declare) > 45
        		and lib_salle in (
            	'inf_regul', 'mg_ecrit', 'mg_visio', 'psy_seance', 'mg_courbevoie'
        		)THEN 'poste'
            	ELSE 'non poste'
            end
            as plage_poste,
        case
        	WHEN sum(temps_declare) > 45
        		and lib_salle in (
            	'inf_regul', 'mg_ecrit', 'mg_visio', 'psy_seance', 'mg_courbevoie'
        		)THEN 60
            	ELSE 0
            end
            as temps_disponible,
        case
        	WHEN sum(temps_declare) > 60 and lib_salle in (
            	'inf_regul', 'mg_ecrit', 'mg_visio', 'psy_seance', 'mg_courbevoie'
        		)
        	then 60
            ELSE sum(temps_declare)
            end
            as temps_total_redresse
    from dma_dialogue
    group by 1,2,3,4,5,6,7,8
    ),
    maquette as (
   select
   plage_maquette,
   sum(etp) as etp_total
   from dma_maquette
   group by 1
   )
   select *
   from plage
   left join maquette
   on plage.plage_maquette_med = maquette.plage_maquette;

In [ ]:
%%sql conmd

DROP TABLE IF EXISTS "stg01_pec"

In [ ]:
%%sql conmd

create table "stg01_pec" as
with produit as (
select
"Idproduct",
"Code" as "lib_produit"
from src_back_produit
),
service as (
select
"Id de spécialité"::text as "id_service",
"Code" as "lib_service",
"Label" as "lib_servicelong"
from src_back_service
),
facturation as (
select
"ID"::text as id_facturation,
"Code" as lib_facturation
from src_back_facturation
),
motif as (
select
"ID"::text as "id_motif",
"Label" as "lib_motif"
from src_back_motif
),
delai as (
select
id_pec,
datetime_openpec,
datetime_endpec,
duree_mn
from stg01_delai
)
select *,
count(*) over (partition by "User Registration Date") as nb_pec_patient,
strftime("Date de création" :: timestamp,'YYYYMMDD') as datedebut,
strftime("Date de création" :: timestamp , 'YYYY') as annee,
strftime("Date de création" :: timestamp , 'MM') as mois,
strftime("Date de création" :: timestamp , 'DD') as jour,
strftime("Date de création" :: timestamp , 'HH24') as heure_debut,
strftime("Date de création" :: timestamp , 'dy') as jour_semaine,
strftime("Date de création" :: timestamp , 'IDDD') as jour_ISO,
strftime("Date de création" :: timestamp , 'IW') as semaine_ISO
from src_back_pec a
left join src_back_ps b
on a."Refdoctor"::text = b."Iduser"::text
left join service
on a."Refspecialty"::text  = service."id_service"
left join produit
on a."Refproduct"::text = produit."Idproduct"::text
left join facturation
on a."Paymentschemeid"::text = facturation."id_facturation"
left join motif
on a."Refconsultationreason"::text = motif."id_motif"
left join delai
on a."Id de consultation"::text = delai.id_pec::text

In [ ]:
%%sql conmd


drop table if exists "dma_pec" cascade

In [ ]:
%%sql conmd


-------------------
-- dma_teladoc_pec
-------------------

create table dma_pec as
select
    "User Registration Date" as user_date_registration,
    nb_pec_patient as nb_pec_patient,
    "Id de consultation" as id_pec,
    "Dateappointment" as date_rdv,
    id_motif,
    lib_motif,
    id_facturation,
    lib_facturation,
    id_service,
    lib_service,
    lib_servicelong,
    "Refdoctor" as id_ps,
    "Prénom" as ps_prenom,
    "Nom de famille" as ps_nom,
    concat("Prénom",'_',"Nom de famille") as ps_prenom_nom,
    datetime_openpec,
    datetime_endpec,
    duree_mn,
    datedebut,
    annee,
    mois,
    jour,
    heure_debut,
    jour_semaine,
    "Codedialoguetype" as canal
from stg01_pec

In [ ]:
%%sql conmd

ALTER TABLE dma_pec
ADD COLUMN "qualite_clarte" FLOAT8;
ALTER TABLE dma_pec
ADD COLUMN "qualite_ecoute" FLOAT8;
ALTER TABLE dma_pec
ADD COLUMN "qualite_satisfaction" FLOAT8;
ALTER TABLE dma_pec
ADD COLUMN "qualite_rapidite" FLOAT8;
ALTER TABLE dma_pec
ADD COLUMN "qualite_facilite" FLOAT8;
ALTER TABLE dma_pec
ADD COLUMN "qualite_rapidite_libel" TEXT;
ALTER TABLE dma_pec
ADD COLUMN "qualite_alternative_libel" TEXT;
ALTER TABLE dma_pec
ADD COLUMN "qualite_resolution_libel" TEXT

In [ ]:
%%sql conmd

 drop table if exists "dma_qualite" cascade

In [ ]:
%%sql conmd

create table dma_qualite as
select
    "Alternative Md" :: text as "alternative",
    "Rapidite Details" :: text as "libel_rapidite",
    "Resolution" :: text as "resolution",
    "Facilite" :: float8 as "facilite",
    "Facilite Details" :: text as "libel_facilite",
    "Landed At" :: text as "date_creation",
    "Opinion Clt" :: float8 as "opinion_global",
    "ID" :: text as "id_qualite",
    "Rapidite" :: float8 as "rapidite",
    "Clarte" :: float8 as "clarte",
    "ID Question Md" :: text as "id_pec",
    "Submitted At" :: text as "date_envoi",
    "Has Commentary" :: text as "commentaire",
    "Ecoute" :: float8 as "ecoute"
from src_back_qualite

In [ ]:
%%sql conmd
UPDATE dma_pec t SET
    "qualite_clarte" = s.clarte,
    "qualite_ecoute" = s.ecoute,
    "qualite_satisfaction" = s.opinion_global,
    "qualite_rapidite" = s.rapidite,
    "qualite_facilite" = s.facilite,
    "qualite_rapidite_libel" = s.libel_rapidite,
    "qualite_alternative_libel" = s.alternative,
    "qualite_resolution_libel" = s.resolution
FROM dma_qualite AS s
WHERE t.id_pec::text = s.id_pec::text